<nav class="navbar navbar-expand-lg navbar-light bg-white bg-md-transparent fixed-top py-2 px-5 mb-10" id="navStyles">
  <div class="container-fluid">
    <a class="navbar-brand animate__animated animate__fadeInDown" href="/"><h3 id="navLogo">museo</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/about">about</a>
        <a href="/artworks" class="nav-link">art</a>
        <a href="/artists" class="nav-link">artists</a>
        <a href="/museums" class="nav-link">institutions</a>
      </div>
      <div class="navbar-nav ms-auto dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="bi bi-search"></i></a>
        <div class="dropdown-menu dropdown-menu-end" id="searchDropdown">
          <h5 class="text-center">search <span class="fw-bold">museo</span></h5>
          <form action="/search?_method=PATCH" method="post" class="mx-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="search" placeholder="search">
              <label for="name">search:</label>
            </div>
            <div class="d-grid">
              <button class="btn">search</button>
            </div>
          </form>
        </div>

        <% if (!currentUser){%>
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">not signed in</a>
        <ul class="dropdown-menu dropdown-menu-end">
          <a href="/login" class="dropdown-item" type="button">login</a>
          <a href="/register" class="dropdown-item">register</a>
        </ul>
        <% } else {%>
        <a href="#" class="nav-link dropdown dropdown-toggle fw-bold" role="button" data-bs-toggle="dropdown"><%= currentUser.firstName %></a>
        <ul class="dropdown-menu dropdown-menu-end">
          <% if (currentUser.isAdmin === true) {%>
            <li><a href="/admin" class="dropdown-item">admin tools</a></li>
          <% } %>
          <li><a href="/logout" class="dropdown-item">logout</a></li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</nav>