body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.75) !important;
  padding-top: 70px;
}

footer {
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

nav {
  z-index: 100;
}

.btn {
  color: rgba(34, 34, 34, 0.75) !important;
}


#backButton {
  color: #aaa;
  transition: transform 0.2s, text-shadow 0.2s;
}

#backButton:hover {
  text-shadow: 0 1px 5px #aaa;
  transform: translate(0, -0.1rem);
  color: rgba(34, 34, 34, 0.75);
}

#searchDropdown {
  min-width: 375px;
}

#navLogo {
  font-weight: 800;
  font-weight: 800;
  color: rgba(34, 34, 34, 0.75);
  transition: transform 0.2s, text-shadow 0.2s;
  display: inline-block;
}

#navLogo:hover {
  text-shadow: 0 1px 5px #aaa;
  transform: translate(0, -0.1rem);
  color: rgba(34, 34, 34, 0.75);
}

.dropdown-toggle {
  color: #aaa;
}

.dropdown-toggle:hover {
  color: rgba(34, 34, 34, 0.75);
}

.dropdown-menu .btn {
  color: rgba(34, 34, 34, 0.75);
}

.list-group-flush > li {
  color: rgba(34, 34, 34, 0.75);
  font-weight: 400;
}

.nav-link {
  padding: 0.25rem 0;
  display: inline-block;
  color: #aaa;
  /* margin-left: 1rem; */
  border-bottom: 0.125rem solid transparent;
  transition: transform 0.2s, text-shadow 0.2s;
}

.nav-link:hover {
  text-shadow: 0 1px 5px #aaa;
  transform: translate(0, -0.1rem);
  color: rgba(34, 34, 34, 0.75);
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  width: 100%;
  margin: 0 auto;
}

.grid-sizer,
.grid-item {
  width: 9.5%;
}

.grid-item {
  float: left;
  margin-bottom: 8px;
  display: flex;
  z-index: 0;
  transition: 0.2s;
}

.grid-item img {
  border-radius: 8px;
  max-width: 100%;
  z-index: 1;
  filter: grayscale(1) brightness(0.5);
  transition: 0.2s;
}

.grid-item:hover > img {
  filter: grayscale(0) brightness(1);
}

.museum-name {
  position: absolute;
  justify-self: flex-end;
  text-align: end;
  padding: 10px;
  z-index: 3;
  color: white;
  transition: 0.2s;
  display: none;
}

.grid-item:hover > .museum-name {
  color: rgba(34, 34, 34, 0.75);
  display: inline;
}

.gradient-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  display: none;
  transition: 0.2s;
}

.grid-item:hover > .gradient-overlay {
  display: inline;
}

#index-grid {
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  color: rgba(34, 34, 34, 0.75) !important;
}

.nav-pills > li > .nav-link.active {
  color: #fff;
  background-color: rgba(34, 34, 34, 0.75);
}

.nav-pills > li > .nav-link,
.nav-pills > li > .nav-link:hover {
  transform: none;
}

@media (max-width: 2400px) {
  .grid-sizer,
  .grid-item {
    width: 19.2%;
  }
}

@media (max-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 32.5%;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
}

@media (max-width: 500px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
