body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

main {
  height: 80vh;
}

.nav-link {
  padding: 0.25rem 0;
  color: #aaa;
  margin-left: 1rem;
  border-bottom: 0.125rem solid transparent;
  transition: transform 0.2s, text-shadow 0.2s;
}

.nav-link:hover {
  text-shadow: 0 1px 5px #aaa;
  transform: translate(0, -0.1rem);
  color: rgba(34, 34, 34, 0.75);
}

.nav-link.active {
  color: rgba(34, 34, 34, 0.75);
  text-shadow: 0 1px 5px #aaa;
}

.lead {
  font-weight: 400;
}

.row {
  width: 100%;
}

.text-dark-emphasis {
  color: rgba(34, 34, 34, 0.75);
}

#title {
  font-size: 100pt;
  font-weight: 800;
  transform-style: preserve-3d;
  z-index: 2;
  color: rgba(34, 34, 34, 0.75);
  transform: translateZ(50px);
  align-self: center;
}

#logo {
  font-weight: 800;
  color: rgba(34, 34, 34, 0.75);
}

#photo-container {
  background-image: url("https://images.unsplash.com/photo-1575223970966-76ae61ee7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8");
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 600px;
  z-index: 0;
  display: flex;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  justify-content: center;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 1400px) {
  #photo-container {
    width: 550px;
    height: 550px;
  }

  #title {
    font-size: 80pt;
  }
}

@media (max-width: 960px) {
  #photo-container {
    width: 500px;
    height: 500px;
  }

  #title {
    font-size: 70pt;
  }
}

@media (max-width: 860px) {
  #photo-container {
    width: 400px;
    height: 400px;
  }

  #title {
    font-size: 65pt;
  }
}

@media (max-width: 768px) {
  main {
    height: auto;
  }
}

@media (max-width: 600px) {
  #photo-container {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 500px) {
  #photo-container {
    width: 300px;
    height: 300px;
  }

  #title {
    font-size: 55pt;
  }
}
