
#header{
    width: 100%;
    height: 300px;
    display: flex;
}

#museumShowHero{
    width: 100%;
    height:auto;
    border-radius: 18px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: grayscale(1) contrast(.5);
}

#museumTitle{
    position: absolute;
    align-self: flex-end;
    z-index: 3;
}

#museumHeroGradient{
    width: 100%;
    height: 100%;
    align-self: flex-end;
    z-index: 2;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 30%);
    position: absolute;
}

#backButton {
    color: #aaa;
    transition: transform 0.2s, text-shadow 0.2s;
}

#backButton:hover {
    text-shadow: 0 1px 5px #aaa;
    transform: translate(0, -0.1rem);
    color: rgba(34, 34, 34, 0.75);
  }

#museumShowTab{
    width: 100%;
    padding-right: 25px;
}


.nav-pills>li>.nav-link.active {
    color: #fff;
    background-color: rgba(34, 34, 34, 0.75);
}

.nav-pills>li>.nav-link,
.nav-pills>li>.nav-link:hover{
    transform: none;
}

.carousel-item{
    width: 400px;
}

.carousel-item>img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.museumTitleLink{
    display: inline-block;
    text-decoration: none !important;
    color: rgba(34, 34, 34, 0.75);
    transition: transform 0.2s, text-shadow 0.2s;
}

.museumTitleLink:hover{
    text-shadow: 0 1px 5px #aaa;
    transform: translate(0, -0.1rem);
    color: rgba(34, 34, 34, 0.75);
}

#artworkScroll{
    height:400px;
}

.artworkScrollItem{
    margin: 0 10px;
    display: block;
    max-width: 400px;
    position: relative;
    height: 100%
}

.artworkScrollItem img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    max-width: 400px;
}

.artworkText {
    position: absolute;
    justify-self: flex-start;
    text-align: start;
    padding: 10px;
}
#mapCollapse {
    width: 100%;
    max-width:500px;
    height: 300px;
  }

  @media (max-width: 768px) {
    #mapCollapse{
        max-width: 100%
    }
  }

@media (max-width: 500) {
    .carousel-item{
        width: 100%;
    }
  }