<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items center mt-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1575223970966-76ae61ee7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">register</h5>
                    <form action="/register" method="post" novalidate class="needs-validation">
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="text" id="username" name="username" class="form-control" required autofocus placeholder="username">
                                <label for="username">username:</label>
                            </div>
                            <div class="valid-feedback">looks good!</div>
                            <div class="invalid-feedback">please specify a username</div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">name:</span>
                                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="first" required>
                                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="last" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="email" name="email" id="email" class="form-control" placeholder="email" required>
                                <label for="email">email:</label>
                                <div class="valid-feedback">looks good!</div>
                                <div class="invalid-feedback">please specify an email</div>
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" name="password" id="password" class="form-control" placeholder="password" required>
                            <label for="password" class="form-label">password:</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn">register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>