<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/about.css">


<div class="container mb-5">
  <div class="hero row my-5 text-center">
    <h1 class="about-header parallax fw-bold m-0 animate__animated animate__fadeIn">museo</h1>
    <p class="m-0 fs-2">a repository for <a href="/random"><span class="fw-bold">inspiration</span></a></p>
  </div>
  <div class="row mb-5 gx-5 lh-lg">
    <div class="col-md-7">
      <p class="body-copy"><span class="fw-bold">museo</span> is where you can find your next source of artistic information.</p>
      <p class="body-copy">Whether you are looking to discover new <a class="fw-bold" href="/artists">artists</a>, <a class="fw-bold" href="/artworks">artworks</a>, or <a class="fw-bold" href="/museums">institutions</a>, <span class="fw-bold">museo</span> has it all. If you're not sure for which type of inspiration you search, <a href="/random">let <span class="fw-bold">museo</span> find it for you</a>.</p>
      <p class="body-copy">The collection on <span class="fw-bold">museo</span> is shaped by its administrators and users. Our collection can only be as good as the content you add, so <a href="/register">register</a> for an account today to start helping <span class="fw-bold">museo</span> grow.</p>
    </div>
    <div class="col-md-5 text-center text-md-start" id="rules">
      <h2 class="fw-bold m-0">rules</h2>
      <p class="rule-detail m-0">click any rule for details</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" data-bs-toggle="collapse" data-bs-target="#rule-one" role="button"><span class="fw-bold">1.</span> We collect from the <span class="fw-bold">visual arts</span>
        <p class="collapse rule-detail ms-md-4" id="rule-one">We appreciate all forms of art at <span class="fw-bold">museo</span>, but our <span class="fw-bold">institutions</span> should only be art museums or galleries, our <span class="fw-bold">artists</span> painters, sculptors, printmakers, performance artists, and other visual artists, and our <span class="fw-bold">artworks</span> similarly visual.</p>
      </li>
        <li class="list-group-item" data-bs-toggle="collapse" data-bs-target="#rule-two" role="button"><span class="fw-bold">2.</span> Our collection is <span class="fw-bold">inspiring</span>
        <p id="rule-two" class="collapse rule-detail ms-md-4">Our small admin staff is in charge of moderating our content, but we rely on our users to be the first-line of moderation. Add only content which you find inspiring, and do so in good faith. Ensure accuracy whenever possible, and if the details of an item in our collection changes, be sure to go back and edit it.</p>
        </li>
        <li class="list-group-item" data-bs-toggle="collapse" data-bs-target="#rule-three" role="button"><span class="fw-bold">3.</span> Fame is <span class="fw-bold">superfluous</span>
        <p id="rule-three" class="collapse rule-detail ms-md-4"><span class="fw-bold">museo</span> places more weight on the inspirational quality of its collection than notoriety. Relatively-unknown local artists are welcome, as are small galleries with only a few pieces with which you have fallen in love. Our collection should contain the old masters, the canonical cornerstones of art history, and the world's premier institutions, but <span class="fw-bold">we firmly believe that inspiration does not require renown.</span></p></li>
      </ul>
    </div>
  </div>
  <div class="row text-center fine-print">
    <p><span class="fw-bold">museo</span> is a passion project of <a href="https://j-par.com">Jacques Pariseau</a>, an art historian and web developer who is dedicated to creating beautiful and functional web application experiences.</p>
  </div>
</div>

<script src="/js/about.js"></script>