<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="card shadow">
        <img src="https://images.unsplash.com/photo-1575223970966-76ae61ee7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold mb-3">dev tools</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/admin/newmuseum" class="nav-link">new museum form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>