<% layout('layouts/boilerplate') %>



<div class="grid" id="index-grid">
  <div class="grid-sizer"></div>
  <% for (let museum of museums) {%>
    <a href="<%= museum.url %>">
      <div class="grid-item ">
        <div class="gradient-overlay"></div>
        <h4 class="fw-bold museum-name"><%= museum.name %></h4>
        <img src="<%= museum.images[0].url %>" alt="">
      </div>
    </a>
    <% } %>
</div>

<script src="/js/imagesloaded.js"></script>
<script src="/js/masonry.js"></script>
<script src="/js/initializeMasonry.js"></script>