<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/museumIndex.css">

<header class="container-fluid my-3">
  <div class="row">
    <div class="dropdown d-flex justify-content-between">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="bi bi-filter-circle"></i></button>
      <div class="dropdown-menu shadow">
        <h5 class="text-center">filter <span class="fw-bold">museums</span></h5>
        <form action="/museums?_method=PATCH" method="post" class="mx-3 needs-validation" novalidate>
          <div class="form-floating mb-3" id="museumNameContainer">
            <input type="text" class="form-control" name="name" id="museumName" placeholder="name" required>
            <label for="museumName">name:</label>
          </div>
          <div class="d-grid" id="submitButtonContainer">
            <button class="btn" id="submitButton">submit</button>
          </div>
        </form>
      </div>
      <% if (currentUser) {%>
      <div>
        <a href="/museums/new" class="btn">new <span class="fw-bold">museum</span></a>
      </div>
      <% } %>
    </div>
  </div>
  <div>
    <% if (museums.length === allMuseums.length) {%>
    <h2 class="text-center">all <span class="fw-bold">museums</span></h2>
    <% } else {%>
    <h2 class="text-center">filtered <span class="fw-bold">museums</span></h2>
    <% } %>
  </div>
</header>

<% if (museums.length === 0) {%>
<p class="text-center">no <span class="fw-bold">museums</span> match your search; try broadening your parameters</p>
<p class="text-center"><a href="/museums" class="btn">all <span class="fw-bold">museums</span></a></p>
<% } %>

<div class="grid" id="index-grid">
  <div class="grid-sizer"></div>
  <% for (let museum of museums) {%>
  <a href="/museums/<%= museum._id %>">
    <div class="grid-item ">
      <div class="gradient-overlay"></div>
      <h4 class="fw-bold museum-name"><%= museum.name %></h4>
      <img src="<%= museum.images[0].url %>" alt="">
    </div>
  </a>
  <% } %>
</div>

<% if (museums.length !== 0 && museums.length < allMuseums.length) {%>
<div class="container text-center">
  <a href="/museums" class="btn"><i class="bi bi-chevron-left" id="backButton"></i>all <span class="fw-bold">museums</span></a>
</div>
<% } %>

<script src="/js/imagesloaded.js"></script>
<script src="/js/masonry.js"></script>
<script src="/js/initializeMasonry.js"></script>