<% layout('layouts/boilerplate') %>


<div class="container my-5">
    <form action="">
        <div class="form-floating" id="nameSearchContainer">
            <input type="text" id="museumName" class="form-control" placeholder="museum name:">
            <label for="museumName">museum name:</label>
            <ul id="autocompleteResults"></ul>
        </div>
    </form>
</div>

<script src="/js/newMuseumForm.js"></script>